In [10]:
import csv
import pandas as pd 
import pymysql
import functools

In [11]:
df = pd.read_excel("ATP Men's Tour.xlsx")

In [12]:
def run_query_for_connection(connection, query, args=None):
    with connection.cursor() as cursor:
#         print('Executando query:')
#         print(cursor.mogrify(query, args))  # O que este comando faz?
        cursor.mogrify(query, args)
        cursor.execute(query, args)
#         for result in cursor.fetchall():
#             print(result)

connection_options = {
   'host': 'localhost',
   'user': 'root',
   'password': 'Katchin98',
   'database': 'adad',
}

connection = pymysql.connect(**connection_options)

db = functools.partial(run_query_for_connection, connection)

In [13]:
df = df.fillna(0)

In [14]:
i = 0
for index, row in df.iterrows():
    try: 
        db('''
        INSERT INTO atp 
        VALUES(
            {0}, "{1}", "{2}", "{3}", "{4}", "{5}", "{6}", "{7}", {8}, "{9}", "{10}", {11}, {12}, {13}, {14}, {15}, 
            {16}, {17}, {18}, {19}, {20}, {21}, {22}, {23}, {24}, {25}, {26}, "{27}", {28}, {29}, {30}, 
            {31}, {32}, {33}, {34}, {35}, {36}, {37}, {38}, {39}
        )
        '''.format(
        row['ATP'], row['Location'], row['Tournament'], row['Date'], row['Series'], row['Court'], 
        row['Surface'], row['Round'], row['Best of'], row['Winner'], row['Loser'], row['WRank'], 
        row['LRank'], row['WPts'], row['LPts'], row['W1'], row['L1'], row['W2'], row['L2'], row['W3'],
        row['L3'], row['W4'], row['L4'], row['W5'], row['L5'], row['Wsets'], row['Lsets'], row['Comment'], 
        row['B365W'], row['B365L'], row['EXW'], row['EXL'], row['LBW'], row['LBL'], row['PSW'], row['PSL'], 
        row['MaxW'], row['MaxL'], row['AvgW'], row['AvgL'])
        )   
    except Exception as e:
        print("ERRO LINHA: " + str(i))
        print(e)
        print('''
        INSERT INTO atp 
        VALUES(
            {0}, "{1}", "{2}", "{3}", "{4}", "{5}", "{6}", "{7}", {8}, "{9}", "{10}", {11}, {12}, {13}, {14}, {15}, 
            {16}, {17}, {18}, {19}, {20}, {21}, {22}, {23}, {24}, {25}, {26}, "{27}", {28}, {29}, {30}, 
            {31}, {32}, {33}, {34}, {35}, {36}, {37}, {38}, {39}
        )
        '''.format(
        row['ATP'], row['Location'], row['Tournament'], row['Date'], row['Series'], row['Court'], 
        row['Surface'], row['Round'], row['Best of'], row['Winner'], row['Loser'], row['WRank'], 
        row['LRank'], row['WPts'], row['LPts'], row['W1'], row['L1'], row['W2'], row['L2'], row['W3'],
        row['L3'], row['W4'], row['L4'], row['W5'], row['L5'], row['Wsets'], row['Lsets'], row['Comment'], 
        row['B365W'], row['B365L'], row['EXW'], row['EXL'], row['LBW'], row['LBL'], row['PSW'], row['PSL'], 
        row['MaxW'], row['MaxL'], row['AvgW'], row['AvgL'])
        )
        
    i += 1
    connection.commit()

array([3, 5])

In [16]:
connection.close()

In [ ]:
for i in range(0,40):
    print('{' + str(i) + '}, ', end="")
print("\n")
o = 0
for name in df.columns:
    print("row['{0}'], ".format(name), end="")
    o+=1