In [1]:
import numpy as np
import math
import matplotlib.pyplot as plt
import pandas as pd

# Winner.Year X WPts

In [7]:
wyw = pd.read_excel('results/winneryearwpts.xlsx')

In [8]:
wyw

      Dimmatch.Match Dimdate.Tempo      WPts
0          Ahouda A.    2017-04-11     13.00
1           Albot R.    2015-09-29    498.00
2           Albot R.    2016-04-19    361.00
3           Albot R.    2016-06-29    544.00
4           Albot R.    2016-10-17    596.00
5           Albot R.    2017-02-06    615.00
6           Albot R.    2017-04-10    655.00
7           Albot R.    2017-06-26    478.00
8           Albot R.    2017-06-28    478.00
9           Albot R.    2017-07-04    513.00
10          Albot R.    2017-07-18    408.00
11          Albot R.    2017-07-25    418.00
12          Albot R.    2017-08-28    405.00
13          Albot R.    2017-08-31    405.00
14          Albot R.    2018-02-13    608.00
15          Albot R.    2018-02-15    608.00
16          Albot R.    2018-03-22    627.00
17          Albot R.    2018-04-11    626.00
18          Albot R.    2018-05-20    626.00
19          Albot R.    2018-05-27    634.00
20          Albot R.    2018-07-03    586.00
21          Albot R.    2018-07-04    586.00
22          Albot R.    2018-07-31    578.00
23          Albot R.    2018-09-18    493.00
24          Albot R.    2018-09-20    493.00
25          Albot R.    2018-09-21    493.00
26        Almagro N.    2015-02-09    620.00
27        Almagro N.    2015-02-11    620.00
28        Almagro N.    2015-02-25    575.00
29        Almagro N.    2015-02-26    575.00
...              ...           ...       ...
10395      Zverev M.    2017-08-07  1,461.00
10396      Zverev M.    2017-08-15  1,474.00
10397      Zverev M.    2017-08-28  1,484.00
10398      Zverev M.    2017-08-30  1,484.00
10399      Zverev M.    2017-09-02  1,484.00
10400      Zverev M.    2017-09-20  1,594.00
10401      Zverev M.    2017-09-21  1,594.00
10402      Zverev M.    2017-09-22  1,594.00
10403      Zverev M.    2017-10-02  1,627.00
10404      Zverev M.    2017-10-18  1,457.00
10405      Zverev M.    2017-10-19  1,457.00
10406      Zverev M.    2018-01-01  1,302.00
10407      Zverev M.    2018-02-21    952.00
10408      Zverev M.    2018-03-10    952.00
10409      Zverev M.    2018-04-10    932.00
10410      Zverev M.    2018-04-15    932.00
10411      Zverev M.    2018-04-17    932.00
10412      Zverev M.    2018-05-01    977.00
10413      Zverev M.    2018-05-29    870.00
10414      Zverev M.    2018-05-31    870.00
10415      Zverev M.    2018-06-11    950.00
10416      Zverev M.    2018-06-26    855.00
10417      Zverev M.    2018-06-27    855.00
10418      Zverev M.    2018-06-28    855.00
10419      Zverev M.    2018-06-29    855.00
10420      Zverev M.    2018-06-30    855.00
10421      Zverev M.    2018-07-24  1,005.00
10422      Zverev M.    2018-07-25  1,005.00
10423      Zverev M.    2018-08-01  1,030.00
10424      Zverev M.    2018-08-14  1,030.00

[10425 rows x 3 columns]

# Winner X WPts

# Winner X WRank

# Loser X LPts

# Loser X LRank

# Surface.Year X WPts